<%- include('partials/topnav_signedin') %>
<%- include ('partials/styles/motivateStyles') %>

<% var dayNames = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"] %>
<% function timeToText(time) {
    var timeArr = time.split(':');
    var hour = timeArr[0];
    var mins = ':' + timeArr[1].toString();
    if (mins == ':00') {
        mins='';
    }
    if (hour < 12) {
        return `${parseInt(hour).toString()}${mins}am`;
    }
    else if (hour == 12) {
        return `12${mins}pm`;
    }
    else {
        normal_hour = parseInt(hour) - 12
        return `${normal_hour.toString()}${mins}pm`;
    }
}; %>

<div class="row" style="height:100%; text-align:center;">
    <div class="col-md-9">
        <h5 style="margin:10px;">Find a Study Session to Motivate For</h5>
        <div class="row" style="height:100%; margin-left:2.5%;" >
            <% daysArray.forEach((day) => { %>
                <div class="col sessions_col">
                    <div class="col_header"><%= dayNames[day.getDay()] %> <%= day.getMonth()+1 %>/<%= day.getDate() %></div>
                    <% sessions.forEach((session) => { %>
                        <% var session_date_array = session.date.split('/');
                            var session_month = session_date_array[0];
                            var session_day = session_date_array[1];
                            if (session_month == day.getMonth() && session_day == day.getDate()) { %> 
                                <div id="<%= session._id %>" class="card session_card" onClick="motivateSession(this)">
                                    <div class="card-body" style="padding:0;">
                                        <%= timeToText(session.startTime) %> - <%= timeToText(session.endTime) %><br>
                                        <div style="color:green; font-weight:bold;">$<%=session.cost-1%></div>
                                    </div>
                                </div>
                        <% } %>
                    <% }); %>
                </div>
            <% }); %>
        </div>
    </div>


    <div class="col-md-3" style="border-left: 5px solid #eaeaea; text-align:center; padding-right: 25px;">
        <h4 style="margin-top:10px; margin-bottom:30px;">My Confirmed Meetings</h4>
        <div class="overflow-auto" style="height: 650px;">
            <% myMeetings.forEach((meeting) => { %>
            <% var dateArr = meeting.date.split('/'); var date = `${(parseInt(dateArr[0])+1)}/${dateArr[1]}/${dateArr[2]}` %>
                <div class="card" style="color: black; margin-bottom: 15px;">
                    <div class="card-header">
                        <b>Meeting on <%= date %></b>
                    </div>
                    <div class="card-body">
                        <div><b>Time:</b> <%= timeToText(meeting.startTime) %> - <%= timeToText(meeting.endTime) %> </div>
                        <div><b>Earnings:</b> $<%= meeting.cost-1 %></div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<div class="popUp" id="joinEvent">
    <h5 id="PUheader"></h5>
    <div id="PUtime"></div>
    <div style="margin-bottom:8px;" id="PUearnings"></div>
    <div>
        <a class="btn buttonH" href="" id="confirmMotivate" style="background-color: #15335e; color:white;">Motivate</a>
        <button class="btn float-right buttonH" onClick="closePU()" style="background-color: red; color:white;">Cancel</button>
    </div>
</div>

<script type="text/javascript">
    var global_clicked_session;
    var global_sessionEL;
    function motivateSession(sessionEL) {
        var sessions = <%- JSON.stringify(sessions) %>
        var clicked_session;
        global_SessionEL = sessionEL;
        for (var session in sessions) {
            var curr_session = sessions[session];
            if (curr_session._id == sessionEL.id) {
                global_clicked_session = curr_session;
                clicked_session = curr_session;
                break; //session should now contain the one that was clicked
            }
        }
        var dateArray = clicked_session.date.split('/');
        document.getElementById("PUheader").innerHTML = `Motivate for Study Session on ${parseInt(dateArray[0])+1}/${dateArray[1]}/${dateArray[2]}`
        document.getElementById("joinEvent").style.display = 'inline-block';
        document.getElementById("PUtime").innerHTML = `Time: ${timeToText(clicked_session.startTime)} - ${timeToText(clicked_session.endTime)}`;
        document.getElementById("PUearnings").innerHTML = 'Earnings: $' + (clicked_session.cost-1);

        var params = `?studyTimeID=${clicked_session._id}&motivatorEmail=${user}&studierEmail=${clicked_session.email}&cost=${clicked_session.cost}`;
        const url='/routes/confirmMotivate'+params;
        document.getElementById("confirmMotivate").href = url;
    }

    function closePU() {
        document.getElementById("joinEvent").style.display = 'none';
    }


    //helper functions------------------------------
    function timeToText(time) {
        var timeArr = time.split(':');
        var hour = timeArr[0];
        var mins = ':' + timeArr[1].toString();
        if (mins == ':00') {
            mins='';
        }
        if (hour < 12) {
            return `${parseInt(hour).toString()}${mins}am`;
        }
        else if (hour == 12) {
            return `12${mins}pm`;
        }
        else {
            normal_hour = parseInt(hour) - 12
            return `${normal_hour.toString()}${mins}pm`;
        }
    }
</script>









