<%- include('partials/topnav_signedin') %>
<%- include('partials/styles/studyStyles') %>
<!---
    display current week only--starting with the current day
    6am - 2am for each day, drag and drop events to add them

    Drag and drop:
    https://developer.mozilla.org/en-US/docs/Web/API/DragEvent

    Data we need to send:
    today and the next 6 days as dates in an array


-->
<% 
function dateToString(date) {
        return date.getMonth()+'/'+date.getDate()+'/'+date.getFullYear()+':';
    }
 %> 
<% var dayNames = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"] %>
<% var times = ["6 AM", "7 AM", "8 AM", "9 AM", "10 AM", "11 AM", "12 PM", "1 PM", "2 PM", "3 PM", "4 PM", "5 PM", "6 PM", "7 PM", "8 PM", "9 PM", "10 PM", "11 PM"]; %>
<div class="row" style="height:100%;">
    <div class="col-md-9" style="text-align:center; color:#15335e;">
        <h4 style="margin-top:10px;">Desired Study Sessions</h4>
        <p style="color: #a4a4a4; ">click a time period to add a study session</p>
        <div style="padding:30px; overflow-y:scroll; height:600px;">
            <table id="calendarTable">
                <tr>
                    <td></td>
                    <% daysArray.forEach((day) => { %>
                        <td class="dateLabel"><%= dayNames[day.getDay()] %> <%= day.getMonth()+1 %>/<%= day.getDate() %></td>
                    <% }); %>
                </tr>
                <tr>
                    <td class="timeLabel" style="padding-top:0px;">5 AM</td>
                    <td class="firstCell"></td>
                    <td class="firstCell"></td>
                    <td class="firstCell"></td>
                    <td class="firstCell"></td>
                    <td class="firstCell"></td>
                    <td class="firstCell"></td>
                    <td class="firstCell"></td>
                </tr>
                <% times.forEach((time) => { %>
                    <tr>
                        <td class="timeLabel"><%= time %></td>
                        <td class="calendarCell" onClick="makeSession(this)" id="<%= dateToString(daysArray[0]) + time %>"></td>
                        <td class="calendarCell" onClick="makeSession(this)" id="<%= dateToString(daysArray[1]) + time %>" ></td>
                        <td class="calendarCell" onClick="makeSession(this)" id="<%= dateToString(daysArray[2]) + time %>" ></td>
                        <td class="calendarCell" onClick="makeSession(this)" id="<%= dateToString(daysArray[3]) + time %>" ></td>
                        <td class="calendarCell" onClick="makeSession(this)" id="<%= dateToString(daysArray[4]) + time %>" ></td>
                        <td class="calendarCell" onClick="makeSession(this)" id="<%= dateToString(daysArray[5]) + time %>" ></td>
                        <td class="calendarCell" onClick="makeSession(this)" id="<%= dateToString(daysArray[6]) + time %>" ></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>

    <div class="col-md-3 no-float" style="border-left: 5px solid #eaeaea; color:#15335e; text-align:center;">
        <h4 style="margin-top:10px;">My Events</h4>
    </div>
</div>


<div id="popUpEventCreator">
    <!---
        fields:
            start time: default is in id,
            end time: 1 hour later,
            date: cannot change
        cancel                      submit
    -->
    <h5 id="PUtitle"></h5>
    <hr>
    <form method="post" action="/routes/addStudyTime">
        <div class="form-group row">
            <label for="startTime" class="col-5 col-form-label">Start Time</label>
            <div class="col-7">
                <input class="form-control" name="startTime" type="time" id="startTime">
            </div>
        </div>
        <div class="form-group row">
            <label for="endTime" class="col-5 col-form-label">End Time</label>
            <div class="col-7">
                <input class="form-control" name="endTime" type="time" id="endTime">
            </div>
        </div>
        <input type="hidden" name="email" value="<%= user %>">
        <input type="hidden" id="PUdate" name="date">
        <button type="submit" class="btn" style="background: #15335e; color: white;">Submit</button>
        <button onclick="closePU()" class="btn float-right" style="background: red; color: white;">Cancel</button>
    </form>

</div>

<script>
    function makeSession(cell) {
        var cellArr = cell.id.split(':');
        var dateArr = cellArr[0].split('/');
        var monthStr = parseInt(dateArr[0]) + 1;
        var am_or_pm = cellArr[1].slice(cellArr[1].length-2, cellArr[1].length);
        var hour = cellArr[1].split(' ')[0];
        if (am_or_pm == "AM") {var endTime = hourFormat(hour) + ":00:00"; var startTime = hourFormat(parseInt(hour)-1) + ":00:00";}
        else {
            if (cellArr[1].slice(0,2) == "12") {var endTime = "12:00:00"; var startTime = "11:00:00";}
            else {var endTime = (hourFormat(parseInt(hour)+12)) + ":00:00"; var startTime = hourFormat(parseInt(hour)+11) + ":00:00";}
        }
        document.getElementById("startTime").value = startTime;
        document.getElementById("endTime").value = endTime;
        document.getElementById("PUtitle").innerHTML = "Create Study Session on " + monthStr + "/" + dateArr[1];
        document.getElementById("popUpEventCreator").style.display = "block";
        document.getElementById("PUdate").value = cellArr[0];
    };
    function closePU() {
        document.getElementById("popUpEventCreator").style.display = "none";
    }
    function hourFormat(hour) {
        hour = hour.toString();
        if (hour.length == 1) {
            return "0" + hour.toString();
        }
        else {
            return hour.toString();
        }
    }
</script>



